@import url(fonst.css);


a {
    text-decoration: none;
}
body {
    font-family: main-font;
    direction: rtl;
    background: #fefefe;
    margin: 30px;
}

h2 {
    text-align: center;
    margin-top: 60px;
    color: #333;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 140px;
    height: 200px;
    background: #fff8f0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 65%;
    object-fit: cover;
}

.card .info {
    padding: 10px;
    text-align: center;
}

.info h3 {
    margin: 5px 0;
    font-size: 16px;
}

.info .price {
    color: #d2691e;
    font-weight: bold;
}

.modal1 {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(6px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 110;
}

.modal-content1 {
    flex-direction: row;
    background: #fff8f0 ;
    width: 80% ;
    max-width: 700px ;
    display: flex ;
    padding: 20px ;
    border-radius: 12px ;
    gap: 20px ;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.699) ;
}

.modal1 img {
    width: 50%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.774) ;
}

.modal1 .details {
    width: 50%;
    text-align: right;
}

.modal1 .details h2 {
    margin-top: 0;
}

.close {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}


nav{
    z-index: 11;
    top: 20px;
    background-color: rgba(255, 255, 255, 0.76);
}


/*.nav-pills {*/
/*// scss-docs-start nav-pills-css-vars*/
/*--#{$prefix}nav-pills-border-radius: #{$nav-pills-border-radius};*/
/*    --#{$prefix}nav-pills-link-active-color: #333;*/
/*    --#{$prefix}nav-pills-link-active-bg: #{$nav-pills-link-active-bg};*/
/*// scss-docs-end nav-pills-css-vars*/

/*.nav-link {*/
/*    @include border-radius(var(--#{$prefix}nav-pills-border-radius));*/
/*}*/

/*    .nav-link.active,*/
/*    .show > .nav-link {*/
/*        color: var(--#{$prefix}nav-pills-link-active-color);*/
/*        @include gradient-bg(var(--#{$prefix}nav-pills-link-active-bg));*/
/*    }*/
/*}*/
